<strong>Olá, {{ deliveryman }}</strong>
<p>Houve uma nova solicitação de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ produto }} <br />
  <br />
  <strong>Remetente: </strong> {{ recipient }} <br />
  <strong>Rua: </strong> {{ rua }} <br />
  <strong>Número: </strong> {{ numero }} <br />
  <strong>Estado: </strong> {{ estado }} <br />
  <strong>Cidade: </strong> {{ cidade }} <br />
  <strong>CEP: </strong> {{ cep }} <br />
  <br />
  <small>
    O produto já está disponível para retirada em nossa central de entregas.
  </small>
</p>
